@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* @apply font-sanss; */
    scroll-behavior: smooth;
}

.input {
    @apply w-full h-16 bg-gray-100 rounded-xl mt-3 z-0 px-4 outline-none text-base;
}

.error {
    @apply text-sm text-red-500 mt-1;
}

.shadow-custom-light {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}
